.root {
  position: fixed;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  padding: 0 35px 0 10px;
  height: 60px;
  background-color: #fff4e2 !important;
}


.penButton {
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;

  svg {
    margin-left: 10px;
  }

}

.avatar {
  margin-left: 15px;
  border-radius: 20% !important;
  margin-right: 7px;
}

.searchBlock {
  position: relative;
  margin-right: 15px;
  width: 310px;

  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    opacity: 0.4;
  }

  input {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.05);
    font-size: 16px;
    padding-left: 35px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;

    &:focus,
    &:hover {
      background-color: #fff;
      border-color: darken(#fff4e2,15%);
      box-shadow: 0 0 0 3px rgb(229 160 64 / 12%);
    }

  }
}